<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="../static/style-mobile.css">
    <title>Method Not Supported</title>
    <link rel="icon" type="image/png" href="../static/img/logoYtb.png">
</head>
<body class="error">
    <div class="error-page">
        <div class="error-page-content">
            <img id="error-illustration" src="../static/img/error.png" alt="singeYTB">
            <p class="error-p">Cette page est inaccessible. Désolé.
            <br>Essayez d'effectuer une autre recherche.</p>
            <div class="logoError">
                <a href="/">
                    <img src="../static/img/logoError.jpg" alt="logo" height="38px">
                </a>
            </div>
        </div>
    </div>
</body>
</html>